:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color: #FFFFFF;
    --hero-text-color:#FFFFFF;
    --hero-bc-color:#C4C4C4;;
    --border-line-color: #EEEEEE;
    --footer-bc-color: #2F303A;
    --bg-gradient: rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4);
}

