.footer{
    padding: 60px 0;
    box-sizing: border-box;
    background-color:var(--footer-bc-color);
    
}

.container-one{
        margin-bottom: 60px;
    @media screen and (min-width: 767px){
        text-align: center;
    }
    @media screen and (min-width: 1200px){
      text-align: left;
      margin-bottom: 0;
    }
}
   

.container-two{
    @media screen and (max-width: 767px){
        margin-bottom: 60px;
        margin-left: 0;
    }
    @media screen and (min-width: 768px){
        margin-left: auto;
        margin-bottom: auto;
        text-align: center;
        justify-content: center;
    }
    @media screen and (min-width: 1200px){
    margin-left: 70px;
}}

.container-three{
    @media screen and (min-width: 768px){
       text-align: center;
       justify-content: center;
       align-items: center;
       margin-left: 0;
    }
    @media screen and (min-width: 1200px){
        margin-left: auto;
    }
}

.footer-address{
    font-style: normal;
}

.footer-item{
    display: block;
    @include font(400, 14px, 1.71, 0.03em);
    margin-bottom: 9px;
}

.footer-text{
    margin-bottom: 9px;
    @include font(400, 14px, 1.71, 0.03em);
    color:var(--hero-text-color)
}

.footer-mail, .footer-tel{
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus{ color: var(--accent-color);}
}

.footer-container{
    align-items: center;
    justify-content: center;
    text-align: center;
    
    @media screen and (min-width: 767px){
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-around;
    }
    @media screen and (min-width: 1200px){
        display: flex;
        
        
    }  
    }
    
.footer-lists{
    display: inline-flex;
}
.footer-subtitle{
    margin-bottom: 20px;
    color: var(--hero-text-color);
}
.footer-link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 0.1);
    background-position: center;
    display: inline-flex;
    align-items: center;
    justify-content:center; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
    background-color: var(--accent-color);}
}

.footer-icon{
    fill:var(--primary-bg-color);
}

.footer-input{
    width: 100%;
    margin-bottom: 20px;
    height: 50px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    @include font(400, 16px, 1.25, 0.03em);
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
    outline: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus{border: 1px solid  var(--accent-color);}
    @media screen and (min-width: 767px){
        width: 450px;
        display: flex;
    }
    @media screen and (min-width: 1200px){
        width: 358px;
        margin-bottom: 0;
        margin-right: 12px;
        display: inline;
    }}


.footer-input::placeholder{
    @include font(400, 16px, 1.25, 0.03em);
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
}

.footer-send{
    margin-left: 10px;
    fill: var(--primary-bg-color);
}

